In [21]:
import copy
import numpy as np
import pandas as pd
from multiprocessing import Pool, cpu_count
from tqdm import tqdm
from typing import Union, List, Dict, Callable, Optional

In [22]:
def calc_series_stats(series: Union[List[float], np.array],
                      stats: Dict[str, Callable]={'mean': np.mean,
                                                  'median': np.median,
                                                  'max': np.max,
                                                  'min': np.min,
                                                  'std': np.std},
                      name_prefix: str='',
                      norm: bool=False) -> Dict[str, float]:
    '''
    Calculate base statistics on series
            
    Parameters
    ----------
    series:
        series by which statistics are calculated
    name_prefix:
        string prefix of returned features
    norm:
        normilize resulted statistics to first element or not
        
    Returns
    -------
        Dict with calculated features 
    '''
    series = np.array(series).astype('float')
    series = series[~np.isnan(series)] 
    series = list(series)
    if len(series) == 0:
        series = np.array([np.nan])
        
    result = {'{}_{}'.format(name_prefix, key): stats[key](series) 
              for key in stats}
    
    if norm:
        result = {key: result[key] / np.abs(series[0]) for key in result}
    
    return result

In [23]:
class QuarterlyFeatures:
    '''
    Feature calculator for qaurtrly-based statistics. 
    Return features for company quarter slices.
    '''
    def __init__(self,
                 data_key: str,
                 columns: List[str],
                 quarter_counts: List[int]=[2, 4, 10],
                 max_back_quarter: int=10,
                 min_back_quarter: int=0,
                 stats: Dict[str, Callable]={'mean': np.mean,
                                             'median': np.median,
                                             'max': np.max,
                                             'min': np.min,
                                             'std': np.std},
                 calc_stats_on_diffs: bool=True,
                 data_preprocessing: Callable=None,
                 n_jobs: int=cpu_count(),
                 verbose: bool=False):
        '''     
        Parameters
        ----------
        data_key:
            key of dataloader in ``data`` argument during 
            :func:`~ml_investment.features.QuarterlyFeatures.calculate`
        columns:
            column names for feature calculation(like revenue, debt etc)
        quarter_counts:
            list of number of quarters for statistics calculation. 
            e.g. if ``quarter_counts = [2]`` than statistics will be calculated
            on current and previous quarter
        max_back_quarter:
            max bound of company slices in time. 
            If ``max_back_quarter = 1`` than features will be calculated
            for only current company quarter. 
            If max_back_quarter is larger than total number of
            quarters for company than features will be calculated 
            for all quarters 
        min_back_quarter:
            min bound of company slices in time. 
            If ``min_back_quarter = 0`` (default) than features will be calculated
            for all quarters. 
            If ``min_back_quarter = 2`` than current and previous quarter slices 
            will not be used for feature calculation 
        stats:
            aggregation functions for features calculation.
            Should be as ``Dict[str, Callable]``.
            Keys of this dict will be used as features names prefixes.
            Values of this dict should implement 
            ``foo(x:List) -> float`` interface
        calc_stats_on_diffs:
            calculate statistics on series diffs( ``np.diff(series)`` ) or not
        data_preprocessing:
            function implemening ``foo(x) -> x_`` interface. 
            It will be used before feature calculation.
        n_jobs:
            number of threads for calculation
        verbose:
            show progress or not
        '''
        self.data_key = data_key
        self.columns = columns
        self.quarter_counts = quarter_counts
        self.max_back_quarter = max_back_quarter
        self.min_back_quarter = min_back_quarter
        self.stats = stats
        self.calc_stats_on_diffs = calc_stats_on_diffs
        self.data_preprocessing = data_preprocessing
        self.n_jobs = n_jobs
        self.verbose = verbose
        self._data_loader = None
        

    def _calc_series_feats(self, data: pd.DataFrame,
                           str_prefix: str='') -> Dict[str, float]:
        result = {}
        for quarter_cnt in self.quarter_counts:
            for col in self.columns:
                series = data[col].values[:quarter_cnt][::-1].astype('float')
                name_prefix = 'quarter{}_{}'.format(quarter_cnt, col)

                feats = calc_series_stats(series=series,
                                          stats=self.stats,
                                          name_prefix=name_prefix)
                result.update(feats)

                if self.calc_stats_on_diffs:
                    diff_feats = calc_series_stats(series=np.diff(series),
                                                   stats=self.stats,
                                                   name_prefix='{}_diff'\
                                                    .format(name_prefix))
                    result.update(diff_feats)
                                
        return result  
        
        
    def _single_ticker(self, ticker:str) -> List[Dict[str, float]]:
        result = []
        #quarterly_data = self._data_loader.load([ticker])
        quarterly_data = pd.read_excel('report data/{}.xlsx'.format(ticker))
        
        if quarterly_data is None:
            return result

        if self.data_preprocessing is not None:
            quarterly_data = self.data_preprocessing(quarterly_data)
        
        max_back_quarter = min(self.max_back_quarter, len(quarterly_data) - 1)
        min_back_quarter = min(self.min_back_quarter, len(quarterly_data) - 1)
        assert min_back_quarter <= max_back_quarter
        
        for back_quarter in range(min_back_quarter, max_back_quarter):
            curr_data = quarterly_data[back_quarter:]

            feats = {
                'ticker': ticker, 
                'date': curr_data['Date'].values[0],
            }

            series_feats = self._calc_series_feats(curr_data)
            feats.update(series_feats)
            
            result.append(feats)
           
        return result
        
        
    def calculate(self, data: pd.DataFrame, index: List[str]) -> pd.DataFrame:
        '''     
        Interface to calculate features for tickers 
        based on data
        
        Parameters
        ----------
        data:
            dict having field named as value in ``data_key`` param of 
            :func:`~ml_investment.features.QuarterlyFeatures.__init__`
            This field should contain class implementing
            ``load(index) -> pd.DataFrame`` interface
        index:
            list of tickers to calculate features for, i.e. ``['AAPL', 'TSLA']``
                      
        Returns
        -------
        ``pd.DataFrame``
            resulted features with index ``['ticker', 'date']``.
            Each row contains features for ``ticker`` company 
            at ``date`` quarter
        '''
        if self.verbose:
            print("Quarterly features calculation")

        #self._data_loader = data[self.data_key]
        X = []
        self._data_loader = data
        for ticker_feats_arr in (self._single_ticker(index)):    
            X.extend(ticker_feats_arr)

        X = pd.DataFrame(X).set_index(['ticker', 'date'])
        
        return X

In [24]:
fc1 = QuarterlyFeatures(data_key='quarterly',
                            columns=['Revenue','Net Debt'],
                            quarter_counts=[2,4,10],
                            max_back_quarter=4,
                            min_back_quarter=0,
                            verbose=True)

In [25]:
data = pd.read_excel('report data/A.xlsx')
data = data.drop('Unnamed: 0', 1)
data.head()

,Date,Revenue,+ Sales & Services Revenue,- Cost of Revenue,+ Cost of Goods & Services,Gross Profit,+ Other Operating Income,- Operating Expenses,"+ Selling, General & Admin",+ Research & Development,...,Return on Invested Capital,Gross Margin,EBITDA Margin,Operating Margin,Incremental Operating Margin,Pretax Margin,Income before XO Margin,Net Income Margin,Net Income to Common Margin,Effective Tax Rate
0,2021-09-30,1586,1586,730,730,856,0,427.151899,388,109,...,0.151456,0.539723,0.323359,0.270396,0.541071,0.259677,0.217190,0.217190,0.217190,0.163617
1,2021-06-30,1525,1525,705,705,820,0,506.000000,398,107,...,0.135745,0.537705,0.256393,0.205902,0.414634,0.196721,0.170164,0.170164,0.170164,0.135000
2,2021-03-31,1548,1548,708,708,840,0,488.000000,385,103,...,0.124215,0.542636,0.276486,0.227390,0.549738,0.220284,0.174354,0.174354,0.174354,0.208503
3,2020-12-31,1483,1483,695,695,788,0,463.000000,387,102,...,0.113722,0.531355,0.278490,0.219150,0.344828,0.208361,0.169361,0.169361,0.169361,0.187177
4,2020-09-30,1261,1261,591,591,670,0,417.000000,328,90,...,0.115248,0.531324,0.269627,0.200634,-0.923077,0.191911,0.169563,0.169563,0.169563,0.116450

In [19]:
fc1.calculate(data, 'A')

Quarterly features calculation

KeyError: "None of ['ticker', 'date'] are in the columns"

In [48]:
import json

In [49]:
def load_json(path):
    with open(path, "r") as read_file:
        in_data = json.load(read_file)
        
    return in_data

In [50]:
def _load_df(json_path: str) -> pd.DataFrame:
    '''
    Load data from SF1 .json file and convert it to pd.DataFrame
    
    Parameters
    ----------
    json_path:
        path to SF1 .json path
        
    Returns
    -------
        ``pd.DataFrame`` content of file
    '''
    data = load_json(json_path)
    df = pd.DataFrame(data['datatable']['data'])
    if len(df) == 0:
        columns = [x['name'] for x in data['datatable']['columns']]
        df = pd.DataFrame(columns=columns, dtype=object)
    else:
        df.columns = [x['name'] for x in data['datatable']['columns']]

    df = df.infer_objects()
    
    return df

In [51]:
class SF1QuarterlyData: 
    '''
    Loader for quartely fundamental information about
    companies(debt, revenue etc)
    '''
    def __init__(self,
                 data_path: Optional[str]=None,
                 quarter_count: Optional[int]=None,
                 dimension: Optional[str]='ARQ'):
        '''
        Parameters
        ----------
        data_path:
            path to :mod:`~ml_investment.data_loaders.sf1` dataset folder
            If None, than will be used ``sf1_data_path``
            from `~/.ml_investment/config.json`
        quarter_count:
            maximum number of last quarters to return. 
            Resulted number may be less due to short history in some companies
        dimension: 
            one of ``['MRY', 'MRT', 'MRQ', 'ARY', 'ART', 'ARQ']``.
            SF1 dataset-based parameter
        '''
        if data_path is None:
            data_path = load_config()['sf1_data_path']
        self.data_path = data_path
        self.quarter_count = quarter_count
        self.dimension = dimension


    def load(self, index: List[str]) -> pd.DataFrame:
        '''    
        Parameters
        ----------
        index:
            list of tickers to load data for, i.e. ``['AAPL', 'TSLA']``
           
        Returns
        -------
        ``pd.DataFrame``
            quarterly information about companies
        '''
        result = []
        for ticker in index:
            path = '{}/{}.json'.format(self.data_path, ticker)
            print(path)
            if not os.path.exists(path):
                continue
            df = _load_df(path)
            df = df[df['dimension'] == self.dimension]
            if self.quarter_count is not None:
                df = df[:self.quarter_count]

            df['date'] = df['datekey']
            df = df.sort_values('date', ascending=False)
            #df = translate_currency(df)
            result.append(df)
        
        if len(result) == 0:
            return None

        result = pd.concat(result, axis=0).reset_index(drop=True)
        result = result.infer_objects()
        result['date'] = result['date'].astype(np.datetime64) 
     
        return result


    def existing_index(self):
        '''  
        Returns
        -------
        ``List``
            existing index values that can pe pushed to `load`
        '''
        dir_path = '{}/core_fundamental'.format(self.data_path)
        index = [x.split('.json')[0] for x in os.listdir(dir_path)]
        return index

In [52]:
import os
data_loader = SF1QuarterlyData('core_fundamental')

In [53]:
result = data_loader.load(['A'])

core_fundamental/A.json

In [56]:
result

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital,date
0,A,ARQ,2020-12-31,2021-03-02,2021-01-31,2021-03-02,-469000000,9674000000,NaN,3483000000,...,306000000,309000000,5.059,5269000000,0,24000000,0,17.219,1796000000,2021-03-02
1,A,ARQ,2020-09-30,2020-12-18,2020-10-31,2021-03-02,-522000000,9627000000,NaN,3415000000,...,309000000,312000000,4.799,5194000000,0,61000000,0,16.809,1948000000,2020-12-18
2,A,ARQ,2020-06-30,2020-09-01,2020-07-31,2021-03-02,-476000000,9546000000,NaN,3245000000,...,309000000,312000000,4.081,5064000000,0,20000000,0,16.388,1931000000,2020-09-01
3,A,ARQ,2020-03-31,2020-06-01,2020-04-30,2021-03-02,-538000000,9455000000,NaN,3171000000,...,309000000,312000000,4.006,4952000000,0,20000000,0,16.026,1226000000,2020-06-01
4,A,ARQ,2019-12-31,2020-03-03,2020-01-31,2021-03-02,-521000000,9501000000,NaN,3102000000,...,310000000,313000000,4.377,4853000000,0,22000000,0,15.655,1210000000,2020-03-03
5,A,ARQ,2019-09-30,2019-12-19,2019-10-31,2021-03-02,-514000000,9452000000,NaN,3189000000,...,308000000,312000000,4.438,4752000000,0,37000000,0,15.429,1109000000,2019-12-19
6,A,ARQ,2019-06-30,2019-08-30,2019-07-31,2021-03-02,-404000000,8625000000,NaN,3457000000,...,312000000,316000000,4.083,5007000000,0,31000000,0,16.048,1835000000,2019-08-30
7,A,ARQ,2019-03-31,2019-05-30,2019-04-30,2021-03-02,-398000000,9022000000,NaN,3812000000,...,317000000,321000000,3.905,5372000000,0,36000000,0,16.946,2694000000,2019-05-30
8,A,ARQ,2018-12-31,2019-03-05,2019-01-31,2021-03-02,-381000000,8952000000,NaN,3712000000,...,318000000,322000000,4.038,5253000000,0,-256000000,0,16.519,2617000000,2019-03-05
9,A,ARQ,2018-09-30,2018-12-20,2018-10-31,2021-03-02,-408000000,8541000000,NaN,3848000000,...,318000000,322000000,4.069,5077000000,0,49000000,0,15.965,2677000000,2018-12-20
10,A,ARQ,2018-06-30,2018-08-30,2018-07-31,2021-03-02,-335000000,8349000000,NaN,3667000000,...,320000000,324000000,3.759,4901000000,0,6000000,0,15.316,2653000000,2018-08-30
11,A,ARQ,2018-03-31,2018-05-31,2018-04-30,2021-03-02,-310000000,8784000000,NaN,4525000000,...,322000000,326000000,3.745,5852000000,0,22000000,0,18.174,3160000000,2018-05-31
12,A,ARQ,2017-12-31,2018-03-06,2018-01-31,2021-03-02,-269000000,8698000000,NaN,4397000000,...,323000000,323000000,3.749,5724000000,0,553000000,0,17.721,3036000000,2018-03-06
13,A,ARQ,2017-09-30,2017-12-21,2017-10-31,2021-03-02,-346000000,8426000000,NaN,4169000000,...,322000000,329000000,3.693,5458000000,0,49000000,0,16.950,2906000000,2017-12-21
14,A,ARQ,2017-06-30,2017-09-06,2017-07-31,2021-03-02,-417000000,8261000000,NaN,3996000000,...,321000000,326000000,3.470,5274000000,0,18000000,0,16.430,2755000000,2017-09-06
15,A,ARQ,2017-03-31,2017-06-06,2017-04-30,2021-03-02,-477000000,8016000000,NaN,3800000000,...,321000000,325000000,3.433,5075000000,0,27000000,0,15.810,2613000000,2017-06-06
16,A,ARQ,2016-12-31,2017-03-08,2017-01-31,2021-03-02,-489000000,7872000000,NaN,3635000000,...,322000000,326000000,3.314,4898000000,0,25000000,0,15.211,2546000000,2017-03-08
17,A,ARQ,2016-09-30,2016-12-20,2016-10-31,2021-03-02,-503000000,7802000000,NaN,3635000000,...,326000000,329000000,3.408,4877000000,0,25000000,0,14.960,2690000000,2016-12-20
18,A,ARQ,2016-06-30,2016-09-07,2016-07-31,2021-03-02,-345000000,7734000000,NaN,3530000000,...,325000000,328000000,3.212,4767000000,0,10000000,0,14.668,2379000000,2016-09-07
19,A,ARQ,2016-03-31,2016-06-07,2016-04-30,2021-03-02,-299000000,7640000000,NaN,3488000000,...,326000000,328000000,3.126,4594000000,0,26000000,0,14.092,2355000000,2016-06-07
20,A,ARQ,2015-12-31,2016-03-08,2016-01-31,2021-03-02,-438000000,7302000000,NaN,3399000000,...,329000000,332000000,3.125,4311000000,0,19000000,0,13.103,2452000000,2016-03-08
21,A,ARQ,2015-09-30,2015-12-21,2015-10-31,2021-03-02,-391000000,7479000000,NaN,3686000000,...,330000000,332000000,3.136,4668000000,0,0,0,14.145,2710000000,2015-12-21
22,A,ARQ,2015-06-30,2015-09-02,2015-07-31,2021-03-02,-332000000,7251000000,NaN,3478000000,...,332000000,334000000,3.054,4401000000,0,23000000,0,13.256,2625000000,2015-09-02
23,A,ARQ,2015-03-31,2015-06-05,2015-04-30,2021-03-02,-270000000,7412000000,NaN,3620000000,...,334000000,337000000,2.883,4555000000,0,8000000,0,13.638,2690000000,2015-06-05
24,A,ARQ,2014-12-31,2015-03-10,2015-01-31,2021-03-02,-261000000,7519000000,NaN,3654000000,...,336000000,338000000,3.054,4608000000,0,11000000,0,13.714,2726000000,2015-03-10
25,A,ARQ,2014-09-30,2014-12-22,2014-10-31,2021-03-02,-334000000,10831000000,NaN,5500000000,...,333000000,338000000,5.420,7265000000,0,62000000,0,21.817,3798000000,2014-12-22
26,A,ARQ,2014-06-30,2014-09-02,2014-07-31,2021-03-02,53000000,10380000000,NaN,4834000000,...,334000000,338000000,5.287,6610000000,0,37000000,0,19.790,3255000000,2014-09-02
27,A,ARQ,2014-03-31,2014-06-04,2014-04-30,2021-03-02,132000000,11026000000,NaN,5377000000,...,333000000,337000000,5.198,7134000000,0,47000000,0,21.423,3658000000,2014-06-04
28,A,ARQ,2013-12-31,2014-03-05,2014-01-31,2021-03-02,36000000,10638000000,NaN,5073000000,...,333000000,338000000,5.042,6762000000,0,-4000000,0,20.306,3524000000,2014-03-05
29,A,ARQ,2013-09-30,2013-12-19,2013-10-31,2021-03-02,91000000,10686000000,NaN,4983000000,...,332000000,336000000,5.175,6723000000,0,43000000,0,20.250,3381000000,2013-12-19
30,A,ARQ,2013-06-30,2013-09-06,2013-07-31,2021-03-02,-173000000,10278000000,NaN,4584000000,...,339000000,343000000,4.873,6338000000,0,44000000,0,18.696,3034000000,2013-09-06
31,A,ARQ,2013-03-31,2013-06-03,2013-04-30,2021-03-02,-145000000,10587000000,NaN,4818000000,...,345000000,349000000,5.020,6586000000,0,32000000,0,19.090,2910000000,2013-06-03
32,A,ARQ,2012-12-31,2013-03-06,2013-01-31,2021-03-02,-41000000,10653000000,NaN,4712000000,...,347000000,352000000,4.841,6513000000,0,16000000,0,18.769,2866000000,2013-03-06
33,A,ARQ,2012-09-30,2012-12-20,2012-10-31,2021-03-02,-111000000,10536000000,NaN,4629000000,...,348000000,353000000,5.078,6425000000,0,-169000000,0,18.463,2736000000,2012-12-20
34,A,ARQ,2012-06-30,2012-09-05,2012-07-31,2021-03-02,-35000000,9757000000,NaN,4211000000,...,348000000,353000000,4.951,5722000000,0,-5000000,0,16.443,2121000000,2012-09-05
35,A,ARQ,2012-03-31,2012-06-04,2012-04-30,2021-03-02,68000000,9413000000,NaN,6010000000,...,348000000,354000000,4.980,7422000000,0,38000000,0,21.328,4175000000,2012-06-04
36,A,ARQ,2011-12-31,2012-03-05,2012-01-31,2021-03-02,87000000,9099000000,NaN,5715000000,...,348000000,352000000,4.698,7087000000,0,26000000,0,20.365,4010000000,2012-03-05
37,A,ARQ,2011-09-30,2011-12-16,2011-10-31,2021-03-02,116000000,9057000000,NaN,5569000000,...,347000000,355000000,4.980,7061000000,0,4000000,0,20.349,3732000000,2011-12-16
38,A,ARQ,2011-06-30,2011-09-07,2011-07-31,2021-03-02,271000000,8753000000,NaN,5223000000,...,348000000,357000000,4.859,6711000000,0,-49000000,0,19.284,3718000000,2011-09-07
39,A,ARQ,2011-03-31,2011-06-07,2011-04-30,2021-03-02,278000000,8649000000,NaN,5096000000,...,347000000,355000000,4.833,6601000000,0,60000000,0,19.023,3504000000,2011-06-07